<!doctype html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ config.description }}">
    <meta name="author" content="{{ config.extra.authors }}">


    <!-- <link rel="stylesheet" href="/mdl/material.min.css"> -->
    
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
   

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.red-deep_orange.min.css" /> 
    <link href="{{ get_url(path="css/styles.css", trailing_slash=false) }}" rel="stylesheet">



    <title>{% block title %}{% endblock title %}</title>
</head>

<!-- <body class="mdl-hsi mdl-color--grey-100 mdl-color-text--grey-700 mdl-base"> -->
<body class="mdl-hsi mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        
        {% include "header.html" %}

        {% block main %}{% endblock main %}

        {% include "footer.html" %}

    </div>

    {% block scripts %}{% endblock scripts %}

    <script src="{{ get_url(path="mdl/material.min.js", trailing_slash=false) }}"></script>
    
</body>

</html>