{% set fia_section = get_section(path = "fia/_index.md") %}
{% set oa_section = get_section(path = "oa/_index.md") %}

<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout__header-row">
            <a href="{{ config.base_url }}" class="mdl-navigation__link"><h3>{{ config.title }}</h3></a>  
            <div class="mdl-layout-spacer"></div>
              
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a href="{{ config.base_url }}" class="mdl-navigation__link">Overview</a>
                <a href="{{ oa_section.permalink | safe }}" class="mdl-navigation__link"> {{ oa_section.title }}</a>
                <a href="{{ fia_section.permalink | safe }}" class="mdl-navigation__link">{{ fia_section.title }}</a>
            </nav>
        </div>
</header>
