{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block title %}{{ config.title }}{% endblock title %}

{% block main %}
{% set fia_section = get_section(path = "fia/_index.md") %}
{% set oa_section = get_section(path = "oa/_index.md") %}


<main id="top">
  <img src="{{ get_url(path="images/lhs/stm32em_zoom.jpg", trailing_slash=false) }}" style="width: 100%;">
  <a href="#overview">
    <button class="mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect main-more-button">
      <i class="material-icons">expand_more</i>
    </button>
  </a>
  <div>
      © Inria / Photo C. Morel
  </div>

  <div class="mdl-layout__content">
<!-- <main class="mdl-layout__content"> -->
    <div class="mdl-layout__tab-panel is-active mdl-color--grey-100">

      <div style="height: 30px;"></div>

      <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" id="overview">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
          <div class="mdl-card__supporting-text">
              <h4>Physical attacks</h4>
              Also called Side-Channel Analysis.
              These are attacks that exploit the physical implementation of a targeted system to compromise its information security.
              Here we will focus on two subdomains:
              <ul>
                <li><b>Observation attacks (OA):</b> information is unvolontarily leaked from the physical interaction of the targeted device and its environment (think power consumption for example).</li>
                <li><b>Fault Injection Attacks (FIA):</b> the attacker tries to modify the correct behavior of the target by interacting with the target environment (e.g. electromagnetic pulses).</li>
              </ul>
    
              This website is a teaching resource to learn about physical attacks and be able to perform some on your own.
        </div>
      </section>

      <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
          <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
            <h4 class="mdl-cell mdl-cell--12-col">Sections</h4>
            
            <div class="mdl-cell mdl-cell--4-col mdl-cell--middle">
                <img src="{{ get_url(path="images/lhs/stm32em.jpg", trailing_slash=false) }}" style="width: 80%; padding-bottom: 10px;">
            </div>
            <div class="mdl-cell mdl-cell--8-col mdl-cell--middle">
              <h5>Observation attacks (OA)</h5>
              {{ oa_section.description }} 
              <br>
              <a href="{{ oa_section.permalink | safe }}">Go to section</a>
            </div>
         


            <div class="mdl-cell mdl-cell--4-col mdl-cell--middle">
                <img src="{{ get_url(path="images/lhs/faraday_cage.jpg", trailing_slash=false) }}" style="width: 80%; padding-bottom: 10px;">
            </div>
            <div class="mdl-cell mdl-cell--8-col mdl-cell--middle">
              <h5>Fault Injection Attacks (FIA)</h5>
              {{ fia_section.description }} 
              <br>
              <a href="{{ fia_section.permalink | safe }}">Go to section</a>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--12-col"><i>© Inria / Photo C. Morel</i></div>
        </div>
      </section>

      <section class="section--footer mdl-color--white mdl-grid">
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--1-col">
          <img class="img-circle" style="width:100px;height:100px;" src="{{ get_url(path="images/people/helene.jpg", trailing_slash=false) }}">
        </div>
        <div class="section__text mdl-cell--middle mdl-cell mdl-cell--2-col">
          <h5><a href="mailto:helene.le-bouder@imt-atlantique.fr">Hélène Le Bouder</a></h5>
          Assistant professor at <a href="https://www.imt-atlantique.fr/en">IMT Atlantique</a>.
        </div>
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--1-col">
          <img class="img-circle" style="width:100px;height:100px;" src="{{ get_url(path="images/people/ronan.jpg", trailing_slash=false) }}">
        </div>
        <div class="section__text mdl-cell--middle mdl-cell mdl-cell--2-col">
          <h5><a href="mailto:ronan.lashermes@inria.fr">Ronan Lashermes</a></h5>
          Research engineer at <a href="https://www.inria.fr/en/">INRIA</a>.
        </div>
        <div class="mdl-cell mdl-cell--2-col"></div>
      </section>
    </div>
  </div>
</main>

{% endblock main %}