{% macro post_link(page) %}
    <article>
        <h2><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h2>
        {{ page.summary | safe }}
    </article>
{% endmacro post_link %}

{% macro section_link(section) %}
    <article>
        <h2><a href="{{ section.permalink | safe }}">{{ section.title }}</a></h2>
        {{ section.description | safe }}
    </article>
{% endmacro section_link %}