{% extends "base.html" %}

{% block title %}{{ page.title }} | {{ config.title }}{% endblock title %}

{% block main %}

   
    <main class="mdl-layout__content">
        
        <div class="mdl-layout__tab-panel is-active">

            <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                <div class="mdl-card mdl-cell mdl-cell--12-col">
                    <div class="mdl-card__supporting-text">
                    <h4>{{ page.title | safe }}</h4>
                    {{ page.description | safe }}
                    <span class="mdl-layout-title">Content</span>
                    <nav class="mdl-navigation">
                        <ol>
                            {% for h2 in page.toc %}<li>
                                <a href="{{h2.permalink | safe}}">{{ h2.title | safe }}</a>
                                {% if h2.children %}<ol>
                                    {% for h3 in h2.children %}<li>
                                        <a href="{{h3.permalink | safe}}">{{ h3.title | safe }}</a>
                                        {% if h3.children %}<ol>
                                            {% for h4 in h3.children %}<li>
                                                <a href="{{h4.permalink | safe}}">{{ h4.title | safe }}</a>
                                            </li>{% endfor %}
                                        </ol>{% endif %}
                                    </li>{% endfor %}
                                </ol>{% endif %}
                            </li>{% endfor %}
                        </ol>
                    </nav>
                    </div>
                </div>
            </section>

            <section class="section--center mdl-grid page">
                <div class="mdl-cell mdl-cell--12-col">
                    {{ page.content | safe }}
                </div>
            </section>
        </div>
    </main>
    

{% endblock main %}

{% block scripts %}
{% if page.extra.latex %}
<!-- If latex is on, look for delimiters ($$) to render latex maths -->
    <link rel="stylesheet" href="{{ get_url(path="katex/katex.min.css", trailing_slash=false) }}">
    <script src="{{ get_url(path="katex/katex.min.js", trailing_slash=false) }}"></script>
    <script src="{{ get_url(path="katex/auto-render.min.js", trailing_slash=false) }}"></script>
    <script>
        renderMathInElement(document.body);
    </script>
{% endif %}

{% endblock scripts %}