{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block title %}{{ section.title }} | {{ config.title }}{% endblock title %}

{% block main %}

<main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-layout__tab-panel is-active mdl-color--grey-100">

        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
                <div class="mdl-card__supporting-text">
                    <h4>{{ section.title }}</h4>
                    {{ section.description }}
                </div>
            </div>
        </section>


        {% for subsection in section.subsections|reverse %}

        {% if subsection.extra.draft %}
        {% else %}

        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
                <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                    <h4 class="mdl-cell mdl-cell--12-col">{{ subsection.title }}</h4>
                    <div style="padding-bottom: 30px;">
                        {{ subsection.description }}
                    </div>


                    {% for page_name in subsection.extra.commons %}
                    {% set common_page = get_page(path = page_name) %}
                        {% if common_page.draft %}
                        {% else %}
                            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                                <div class=""></div>
                            </div>
                            
                            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                                <h5>{{ common_page.title }}</h5>
                            {{ common_page.description }} <a href="{{ common_page.permalink | safe }}">Read more.</a>
                            <i>{{ common_page.reading_time }} minutes read.</i>
                            </div>
                        {% endif %}
                            
                    {% endfor %}

                    {% for page in subsection.pages|reverse %}

                        {%if page.draft %}
                        {% else %}
                        
                            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                                <div class=""></div>
                            </div>
                            
                            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                                <h5>{{ page.title }}</h5>
                            {{ page.description }} <a href="{{ page.permalink | safe }}">Read more.</a>
                            <i>{{ page.reading_time }} minutes read.</i>
                            </div>
                        {% endif %}

                    {% endfor %}

                </div>
            </div>
        </section>
        {% endif %}

        {% endfor %}

    </div>
</main>

{% endblock main %}